* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.shopping-cart {
  padding: 20px 20px 60px;
}

.spinner {
  max-width: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-columns: minmax(150px, auto);
  border-bottom: 1px solid #000000;
  margin: 10px 0;
}

.item-image {
  text-align: center;
}

.item-image img {
  max-height: 125px;
}

.item-details {
  padding: 15px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.actions > button {
  max-width: 150px;
  min-width: 100px;
  background: #65ce34;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
}

.actions > div {
  text-align: center;
}

.actions > div > button {
  background: #65ce34;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 30px;
  font-size: 15px;
  width: 30px;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
}

.bottom-fixed-bar {
  position: fixed;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ed81ee;
  color: #1a2b70;
}

.bottom-fixed-bar > div {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.checkout-container {
  align-items: center;
  justify-content: flex-end;
  display: grid;
}

.bottom-fixed-bar button {
  height: 30px;
  background: #65ce34;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: absolute;
  background: #ffffff;
  top: 50%;
  left: 0;
  right: 0;
  margin: -125px auto 0 auto;
  height: 250px;
  display: block;
  max-width: 400px;
  width: 90%;
  text-align: center;
  padding: 20px;
}

.modal-image {
  width: 150px;
  margin-bottom: 15px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.close-button img {
  width: 20px;
}
