* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.shopping-cart {
  padding: 20px 20px 100px;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 80px;
  width: 100%;
  height: 100px;
  text-align: center;
}

.spinner img {
  max-width: 80px;
  width: 100%;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-columns: minmax(150px, auto);
  border-bottom: 1px solid #000000;
}

.item-image {
  text-align: center;
  position: relative;
}

.image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 160px;
}

.item-image img {
  max-height: 125px;
}

.offer-text {
  width: 50%;
  margin: auto;
  background: #f60;
  color: black;
  position: relative;
  margin-bottom: 12px;
}

.offer-text:before,
.offer-text:after {
  content: "";
  width: 0.6em;
  bottom: -0.7em;
  position: absolute;
  display: block;
  border: 0.5em solid #f60;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.4);
  z-index: -2;
}

.offer-text:before {
  left: -1.35em;
  border-right-width: 1.05em;
  border-left-color: transparent;
}

.offer-text:after {
  right: -1.35em;
  border-left-width: 1.05em;
  border-right-color: transparent;
}

.offer-content:before {
  left: 0;
  border-width: 0.8em 0 0 0.8em;
}

.offer-content:after {
  right: 0;
  border-width: 0.8em 0.8em 0 0;
}

.offer-content:before,
.offer-content:after {
  content: "";
  bottom: -0.75em;
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  z-index: -1;
}

.item-details {
  padding: 15px;
}

.item-details>div {
  margin: 5px 0;
}

.brand-name {
  font-size: 25px;
  color: green;
  font-family: auto;
}

.item-price {
  font-weight: bold;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.actions>button {
  max-width: 150px;
  min-width: 100px;
  background: #65ce34;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.actions>div {
  text-align: center;
}

.actions>div>button {
  background: #65ce34;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 30px;
  font-size: 20px;
  width: 30px;
  cursor: pointer;
  font-weight: bold;
  line-height: 30px;
}

.quantity {
  margin: 0 10px;
  width: 30px;
  display: inline-block;
}

.bottom-fixed-bar {
  position: fixed;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ed81ee;
  color: #1a2b70;
}

.bottom-fixed-bar>div {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.totals>div {
  font-size: 20px;
  font-family: auto;
}

.checkout-container {
  align-items: center;
  justify-content: flex-end;
  display: grid;
}

.bottom-fixed-bar button {
  height: 30px;
  background: #65ce34;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes modalFade {
  from {
    transform: translateY(-100%) scale(0.7);
    opacity: 0;
  }

  to {
    transform: translateY(0)scale(1);
    opacity: 1;
  }
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #ffffff;
  margin: -125px auto 0;
  height: 250px;
  display: block;
  max-width: 400px;
  width: 90%;
  text-align: center;
  padding: 20px;
  animation-name: modalFade;
  animation-duration: 0.3s;
}

.modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-image {
  width: 100px;
  margin-bottom: 15px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.close-button img {
  width: 20px;
}